.root{

    -fx-font-family: Arial;
    -fx-background-color: #f4f6fb;

}

.button{

    -fx-background-color:#3b82f6;
    -fx-text-fill:white;
    -fx-font-weight:bold;

}

.table-view{

    -fx-border-color:#ccc;

}
